
.modalBackdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0,.8);
  z-index: 1
}
.postCard{
  z-index: 2;
  width: 30%;
  position: fixed;
  top: 25%;
  left: 35%;
}