


<h2 class="bg-warning m-0 p-1"></h2>
<h2 class="bg-primary text-white text-center p-2">Angular Pipe task - summary- characters</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <p class="alert-info p-1">{{para | summary}}</p>
      <p class="alert-info p-1">{{para | summary : 200}}</p>
    </div>
  </div>
</div>


<h2 class="bg-warning m-0 p-1"></h2>
<h2 class="bg-primary text-white text-center p-2">Angular Pipe task - summary-words</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <p class="alert-info p-1">{{para | summaryWords}}</p>
      <p class="alert-info p-1">{{para | summaryWords : 50}}</p>
    </div>
  </div>
</div>



<h2 class="bg-warning m-0 p-1"></h2>
<h2 class="bg-primary text-white text-center p-2">Angular Pipe task - filter Players Info by specific condition</h2>
<div class="container my-5">
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <input [(ngModel)]="searchVal" type="text" placeholder="Search..." class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select [(ngModel)]="selectedField" class="form-control">
          <option value="name"> By Player's names</option>
          <option value="team">By teams Names</option>
          <option value="odiRuns">By ODI Runs</option>
          <option value="testRuns">By Test RUns</option>
          <option value="debutYear">By year of Debut</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Sr No</td>
            <td>Full Name</td>
            <td>Team</td>
            <td>ODI Runs</td>
            <td>Test Runs</td>
            <td>Year of Debut</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of playersArr | playerFilter: searchVal : selectedField; let i = index">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.team}}</td>
            <td>{{player.odiRuns}}</td>
            <td>{{player.testRuns}}</td>
            <td>{{player.debutYear}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

















































































































































<!-- <app-dialog-modal (emitshowFlag)="hideModal($event)" [showModal]="show">
  <h3 heading>Do you really want to Delete?</h3>
  <p body><em>You won't be able to revert this Action !!</em></p>
  <div class="d-flex justify-content-between" func>
    <button class="btn btn-sm btn-primary">
      Yes
    </button>
    <button class="btn btn-sm btn-danger" (click)="hideModal(false)">
      Cancel
    </button>
  </div>
</app-dialog-modal>
<h1 class="p-2 bg-warning m-0"></h1>
<h3 class="alert alert-info p-2 text-center"># ng-cotent task - Delete Dialog Box</h3>

<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>
            Lorem ipsum dolor sit amet.
          </h4>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, neque rerum quae labore provident ipsum, voluptatem consequuntur earum nesciunt non temporibus error nam, et numquam blanditiis. Mollitia quasi molestias distinctio!
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="btn btn-sm btn-primary">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="removeOnclick()">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>

------------------------------------------------------------------------------------------------- -->

<!-- 
<h1 class="p-2 bg-warning m-0"></h1>
<h3 class="alert alert-info p-2 text-center"># ng-cotent task - Mobile Card</h3>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mb-5" *ngFor="let prod of mobileArr">
      <app-card>
        <h3 class="d-flex justify-content-between" heading>
          {{prod.name}}
          <small class="p-1 text-white" [ngClass]="{
            'bg-success' : prod.rating >= 4,
            'bg-warning' : prod.rating < 4 && prod.rating >= 3,
            'bg-danger' : prod.rating < 3
          }">{{prod.rating}}</small>
        </h3>
        <div body class="info d-flex justify-content-between">
          <img [src]="prod.image" *ngIf="prod.image;else noImg" style="width: 50%; height: 300px; object-fit: cover;" alt="Mobile Image" title="Mobile Image" >
          <ng-template #noImg>
            <p class="bg-secondary d-flex justify-content-center align-items-center"style="width: 50%; height: 300px; object-fit: cover;">
              <strong>No Image Available</strong>
            </p>
          </ng-template>
          <ul class="list-group" style="width: 50%;">
            <li *ngFor="let spec of prod.specifications" class="list-group-item border border-0">{{spec}}</li>
          </ul>
        </div>
        <h4 class="text-danger" func>${{prod.price}} <del class="text-muted">${{prod.price * 1.5}}</del></h4>
      </app-card>
    </div>
  </div>
</div> -->



<!-- ------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------- -->

<!-- <h1 class="p-2 bg-warning m-0"></h1>
<h3 class="alert alert-info p-2 text-center"># ng-cotent task - post Card</h3>

<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mb-5" *ngFor="let post of postArr">
      <app-card>
        <h3 heading>
          {{post.title}}
        </h3>
        <p body>
          {{post.body}}
        </p>
        <div func class="func d-flex justify-content-between">
          <button class="btn btn-sm btn-primary">Edit</button>
          <button class="btn btn-sm btn-danger">remove</button>
        </div>
      </app-card>
    </div>
  </div>
</div>
 -->



























































<!-- <h1 class="bg-primary p-2 m-0"></h1>
<h1 class="bg-warning text-white p-2 text-center">Todo Skills with I/P and O/P decoraotors</h1>
<div class="container mt-5 mb-5">
    
  <div class="row">
    <div class="col-12">
      <app-todo-dashboard></app-todo-dashboard>
    </div>
  </div>
</div>



<h1 class="bg-primary p-2 m-0"></h1>
<h1 class="bg-warning text-white p-2 text-center">Student Table with I/P and O/P decoraotors</h1>
<div class="container mt-5 mb-5">
    
  <div class="row">
    <div class="col-12">
        <app-student-dashboard></app-student-dashboard>
    </div>
  </div>
</div> -->
