
<h1 class="bg-primary p-2 m-0"></h1>
<h1 class="bg-warning text-white p-2 text-center">Todo Skills with I/P and O/P decoraotors</h1>
<div class="container mt-5 mb-5">
    
  <div class="row">
    <div class="col-12">
      <app-todo-dashboard></app-todo-dashboard>
    </div>
  </div>
</div>



<h1 class="bg-primary p-2 m-0"></h1>
<h1 class="bg-warning text-white p-2 text-center">Student Table with I/P and O/P decoraotors</h1>
<div class="container mt-5 mb-5">
    
  <div class="row">
    <div class="col-12">
        <app-student-dashboard></app-student-dashboard>
    </div>
  </div>
</div>
