

<div class="border p-3">
    <div class="form-group">
        <label for="fname">First Name : </label>
        <input type="text" #fname class="form-control" id="fname">
    </div>
    <div class="form-group">
        <label for="lname">Last Name : </label>
        <input type="text" #lname class="form-control" id="lname">
    </div>
    <div class="form-group">
        <label for="email">Email Id : </label>
        <input type="text" #email class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="contact">Contact : </label>
        <input type="text" #contact class="form-control" id="contact">
    </div>
    <button (click)="onStdClick()" class="btn btn-sm btn-primary">Add Student</button>
</div>